html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'PT Serif', serif;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}
